.ed{
    font-size: 18px;
    color: rgb(256, 256, 256);
    background-color: rgb(45, 227, 115);
}
.er{
    font-size: 18px;
    color: rgb(256, 227, 115);
    background-color: rgb(92, 213, 243);
}
#Eire{
      font-size: 38px;
      color:rgb(92, 213, 243);
      background-color:rgb(45, 227, 115);
      text-align: center;
      text-decoration: underline;
      text-decoration: bold;
    }
.eg{
    font-size: 18px;
    color: rgb(256, 256, 256);
    background-color: rgb(45, 227, 115);
    
}
#img2{
    align-content: center;
}
#img1{
    align-content: center;
}
#Marquee{
    background-color: red;
    direction: ltr;
    font-color:yellow;
}


