.ed{
    font-size: 18px;
    color: aliceblue;
    background-color: rgb(45, 227, 115);
}
.er{
    font-size: 18px;
    color: rgb(45, 227, 115);
    background-color: aliceblue;
}
#Eire{
      font-size: 38px;
      color:aliceblue;
      background-color:rgb(45, 227, 115);
      text-align: center;
      text-decoration: underline;
      text-decoration: bold;
    }
.eg{
    font-size: 18px;
    color: aliceblue;
    background-color: rgb(45, 227, 115);
    
}
#img2{
    align-content: center;
}
#img1{
    align-content: center;
}
#Marquee{
    background-color: red;
    direction: ltr;
}


